// _variables.scss
$font-stack: -apple-system, BlinkMacSystemFont, sans-serif;
$font-weight: 590;
$font-size: 18px;
$border-color: #e5e5ea;
$border-radius: 10px;
$primary-bg-color: #f2f2f7;
$country-code-color: #1c1c1e;
$placeholder-color: #aeaeb2;
$button-bg: black;
$button-color: white;
$button-padding: 8px 24px;
$error-msg-color: rgba(255, 0, 0, 0.765);
